<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="css/mainstyle.css">
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href=" css/response_footer.css">
    <link rel="icon" type="image/x-icon" href="image/otherImg/facicon.png">
    <script src="https://kit.fontawesome.com/af072dc486.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="main-blog">
        <!--start header -->
        <nav>
            <h2 class="logo">Vinjin e-<span>Rickshaw</span></h2>
            <ul id="myDIV">
                <li class="link active"><a href="index.html">Home</a></li>
                <li class="dropdown link"><a href="#">Product</a>
                    <div class="dropdown-content">
                        <a href="#">Electric Two Wheeler</a>
                        <a href="three-wheelers.html">Electric Three Wheeler</a>
                    </div>
                </li>
                <li class="dropdown link"><a href="">Service</a>
                    <div class="dropdown-content">
                        <a href="#">Overview</a>
                        <a href="technology.html">Technology</a>
                        <a href="dealernetwork.html">Dealer Network</a>
                        <a href="contact.html">Term & Conditions</a>
                    </div>
                </li>
                <li class="link"><a href="blog.html">Blog</a></li>
                <li class="link"><a href="about.html">About</a></li>
                <li class="link"><a href="contact.html">Contact</a></li>
            </ul>
            <button type="button">Hindi</button>
        </nav>
        <div id="quick-message">
            <a href="contact.php">Quick Enquiry</a>
        </div>
        <!--end header -->
        <!-- start container -->
        <div class="blog-gellary-container">
            <div class="container">
                <div class="mySlides">
                    <div class="numbertext">1 / 6</div>
                    <img class="mheight" src="image/backgroundImg/banner-1.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">2 / 6</div>
                    <img class="mheight" src="image/backgroundImg/banner-2.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">3 / 6</div>
                    <img class="mheight" src="image/backgroundImg/banner-3.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">4 / 6</div>
                    <img class="mheight" src="image/backgroundImg/banner-4.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">5 / 6</div>
                    <img class="mheight" src="image/backgroundImg/banner-5.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">6 / 6</div>
                    <img class="mheight" src="image/backgroundImg/banner-6.jpg" style="width:100%">
                </div>

                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>

                <!-- <div class="caption-container">
                    <p id="caption"></p> 
                </div> -->

                <div class="row">
                    <div class="column">
                        <img class="demo cursor" src="image/backgroundImg/banner-1.jpg" style="width:100%" hieonclick="currentSlide(1)" alt="The Woods">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="image/backgroundImg/banner-2.jpg" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="image/backgroundImg/banner-3.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="image/backgroundImg/banner-4.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="image/backgroundImg/banner-5.jpg" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="image/backgroundImg/banner-6.jpg" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
                    </div>
                </div>
            </div>

            <!-- Photo Grid -->
            <div class="row-new">
                <div class="column-new">
                    <div class="more-content">
                        <img class="maxheight" src="image/backgroundImg/banner-1.jpg" style="width:100%">
                        <div class="content">
                            <a class="pageLinked" href="index.php" style="text-decoration: none; color:white; cursor: pointer;">
                                <h1>Heading</h1>
                                <p>Lorem ipsum..</p>
                            </a>
                        </div>
                    </div>
                    <div class="more-content">
                        <img class="maxheight" src="image/backgroundImg/banner.jpg" style="width:100%">
                        <div class="content">
                            <h1>Heading</h1>
                            <p>Lorem ipsum..</p>
                        </div>
                    </div>

                    <div class="more-content">
                        <img class="maxheight" src="image/backgroundImg/banner-4.jpg" style="width:100%">
                        <div class="content">
                            <h1>Heading</h1>
                            <p>Lorem ipsum..</p>
                        </div>
                    </div>

                </div>
                <div class="column-new">
                    <div class="more-content">
                        <img class="maxheight" src="image/backgroundImg/banner-1.jpg" style="width:100%">
                        <div class="content">
                            <h1>Heading</h1>
                            <p>Lorem ipsum..</p>
                        </div>
                    </div>
                    <div class="more-content">
                        <img class="maxheight" src="image/backgroundImg/banner.jpg" style="width:100%">
                        <div class="content">
                            <h1>Heading</h1>
                            <p>Lorem ipsum..</p>
                        </div>
                    </div>

                    <div class="more-content">
                        <img class="maxheight" src="image/backgroundImg/banner-4.jpg" style="width:100%">
                        <div class="content">
                            <h1>Heading</h1>
                            <p>Lorem ipsum..</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- end container -->
    </div>

    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("demo");
            let captionText = document.getElementById("caption");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>
    <!-- footer -->
    <div class="footer">
        <div class="col-1 main">
            <h3>Quick Links</h3>
            <a href="about.html">About</a>
            <a href="blog.html">Blogs</a>
            <a href="">Dealer Network</a>
        </div>
        <div class="col-2 main">
            <h3>Services</h3>
            <a href="">Overview</a>
            <a href="">Privacy</a>
            <a href="blog.html">Blogs</a>
            <a href="technology.html">Technology</a>
            <a href="dealernetwork.html">Dealer Network</a>
            <a href="contact.html">Term & Conditions</a>

        </div>
        <div class="col-4 main">
            <h3>Contact Us</h3>
            <div class="contact-us"><span>Email-id: info@vinjin.in</span></div>
            <div class="contact-us"><span>Phone No.: +91 98880-77765</span></div>
            <div class="contact-us"><span>Address.: 120C, Stelco InterNational Focal Point Ludhiana 141010 Punjab.</span></div>

        </div>
        <div class="col-4 main">
            <h3>Follow us</h3>
            <p>abx</p>
            <div class="social-icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </div>


</body>

</html>