<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="static/css/mainstyle.css">
    <link rel="stylesheet" href="static/css/contact.css">
    <link rel="stylesheet" href="static/ css/response_footer.css">
    <link rel="icon" type="image/x-icon" href="image/otherImg/facicon.png">
    <script src="https://kit.fontawesome.com/af072dc486.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="hero">
        <!--start header -->

        <nav>
            <h2 class="logo">Vinjin e-<span>Rickshaw</span></h2>
            <ul id="myDIV">
                <li class="link active"><a href="index.html">Home</a></li>
                <li class="dropdown link"><a href="#">Product</a>
                    <div class="dropdown-content">
                        <a href="#">Electric Two Wheeler</a>
                        <a href="three-wheelers.html">Electric Three Wheeler</a>
                    </div>
                </li>
                <li class="dropdown link"><a href="">Service</a>
                    <div class="dropdown-content">
                        <a href="#">Overview</a>
                        <a href="technology.html">Technology</a>
                        <a href="dealernetwork.html">Dealer Network</a>
                        <a href="contact.html">Term & Conditions</a>
                    </div>
                </li>
                <li class="link"><a href="blog.html">Blog</a></li>
                <li class="link"><a href="about.html">About</a></li>
                <li class="link"><a href="contact.html">Contact</a></li>
            </ul>
            <button type="button">Hindi</button>
        </nav>
        <!--end header -->

        <!-- start container -->
        <div class="contact-container">

            <section class="contact">
                <div id="quick-message">
                    <a href="contact.html">Quick Enquiry</a>
                </div>
                <div class="contact-content">
                    <h2>Contact Us</h2>
                </div>
                <div class="information-container">
                    <div class="contactInfo">
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <h3>Address</h3>
                                <p>120C, Stelco InterNational<br>Focal Point Ludhiana 141010 Punjab</p>
                            </div>
                        </div>

                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <h3>Phone No.</h3>
                                <p>+91 98880-77765</p>
                                <p>+91 98994-24476</p>
                            </div>
                        </div>

                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <h3>Email Id</h3>
                                <p>info@vinjin.in</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form">
                        <form action="">
                            <h2>Send Message</h2>
                            <div class="inputBox">
                                <input type="text" name="" required="required">
                                <span>Full Name</span>
                            </div>
                            <div class="inputBox">
                                <input type="text" name="" required="required">
                                <span>Email</span>
                            </div>
                            <div class="inputBox">
                                <textarea required="required"></textarea>
                                <span>Type Your Message</span>
                            </div>
                            <div class="inputBox">
                                <input type="submit" name="" value="Send">
                            </div>

                        </form>
                    </div>

                </div>


            </section>

        </div>




        <!-- end container -->

    </div>
    <!-- footer -->
    <div class="footer">
        <div class="col-1 main">
            <h3>Quick Links</h3>
            <a href="about.html">About</a>
            <a href="blog.html">Blogs</a>
            <a href="">Dealer Network</a>
        </div>
        <div class="col-2 main">
            <h3>Services</h3>
            <a href="">Overview</a>
            <a href="">Privacy</a>
            <a href="blog.html">Blogs</a>
            <a href="technology.html">Technology</a>
            <a href="dealernetwork.html">Dealer Network</a>
            <a href="contact.html">Term & Conditions</a>

        </div>
        <div class="col-4 main">
            <h3>Contact Us</h3>
            <div class="contact-us"><span>Email-id: info@vinjin.in</span></div>
            <div class="contact-us"><span>Phone No.: +91 98880-77765</span></div>
            <div class="contact-us"><span>Address.: 120C, Stelco InterNational Focal Point Ludhiana 141010 Punjab.</span></div>

        </div>
        <div class="col-4 main">
            <h3>Follow us</h3>
            <p>abx</p>
            <div class="social-icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </div>

</body>

</html>