{% load static %}
<!-- footer -->
<div class="footer">
    <div class="col-1 main">
        <h3>Quick Links</h3>
        <a href="about.html">About</a>
        <a href="blog.html">Blogs</a>
        <a href="">Dealer Network</a>
    </div>
    <div class="col-2 main">
        <h3>Services</h3>
        <a href="">Overview</a>
        <a href="">Privacy</a>
        <a href="blog.html">Blogs</a>
        <a href="technology.html">Technology</a>
        <a href="dealernetwork.html">Dealer Network</a>
        <a href="contact.html">Term & Conditions</a>

    </div>
    <div class="col-4 main">
        <h3>Contact Us</h3>
        <div class="contact-us"><span>Email-id: info@vinjin.in</span></div>
        <div class="contact-us"><span>Phone No.: +91 98880-77765</span></div>
        <div class="contact-us"><span>Address.: 120C, Stelco InterNational Focal Point Ludhiana 141010 Punjab.</span></div>

    </div>
    <div class="col-4 main">
        <h3>Follow us</h3>
        <p>abx</p>
        <div class="social-icon">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </div>
</div>