{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/mainstyle.css">
    <link rel="stylesheet" href="static/css/response_footer.css">
    <link rel="stylesheet" href="static/css/about.css">
    <link rel="stylesheet" href="static/css/product.css">
    <link rel="stylesheet" href="static/css/responsevestyle.css">
    <link rel="icon" type="image/x-icon" href="image/otherImg/facicon.png">
    <script src="https://kit.fontawesome.com/af072dc486.js" crossorigin="anonymous"></script>
    <!-- <style>
         .banner_container
            {
            background-size: cover;
            background-image:url('<?php echo $url; ?>');
            }
    </style> -->

</head>

<body>

    <div class="hero">
        <!--start header -->

        <nav>
            <div class="navbar-div">
                <div class="logo-div">
                    <h2 class="logo">Vinjin e-<span>Rickshaw</span></h2>
                </div>
                <div class="menubar-div">
                    <div class="menu-div" id="menuid" style="display: flex;align-items: center;">
                        <ul id="myDIV">
                            <li class="link active"><a href="index.html">Home</a></li>
                            <li class="dropdown link"><a href="#">Product</a>
                                <div class="dropdown-content">
                                    <a href="#">Electric Two Wheeler</a>
                                    <a href="three-wheelers.html">Electric Three Wheeler</a>
                                </div>
                            </li>
                            <li class="dropdown link"><a href="">Service</a>
                                <div class="dropdown-content">
                                    <a href="#">Overview</a>
                                    <a href="technology.html">Technology</a>
                                    <a href="dealernetwork.html">Dealer Network</a>
                                    <a href="contact.html">Term & Conditions</a>
                                </div>
                            </li>
                            <li class="link"><a href="blog.html">Blog</a></li>
                            <li class="link"><a href="about.html">About</a></li>
                            <li class="link"><a href="contact.html">Contact</a></li>
                        </ul>
                        <button type="button">Hindi</button>
                    </div>

                    <div class="menu_icon" onclick="myFunction()">
                        <i class="fa-sharp fa-solid fa-bars"></i>
                    </div>

                </div>

            </div>

        </nav>


        <!--end header -->