{% include "header.html" %}
<div id="quick-message">
    <a href="contact.html">Quick Enquiry</a>
</div>

<!-- start container -->
<div class="main-container">
    <div class="banner_container">
        <img src="static/image/otherImg/banner.gif" alt="">
    </div>

</div>
<div class="main-container-1">
    <div id="product-heading" class="heading-div">
        <h1>Our Product</h1>
    </div>
    <div id="product-frame">
        <div class="product-item">
            <img src="static/image/productImg/rick-4.jpg" alt="product-1">
            <div class="product-name">
                <h2><span>Vinjin Super</span></h2>
            </div>
        </div>
        <div class="product-item">
            <img src="static/image/productImg/rick-5.jpg" alt="product-2">
            <div class="product-name">
                <h2><span>Vinjin Delux</span></h2>
            </div>
        </div>
        <div class="product-item">
            <img src="static/image/productImg/rick-6.jpg" alt="product-3">
            <div class="product-name">
                <h2><span>Vinjin Loader</span></h2>
            </div>
        </div>
    </div>

</div>

<!-- end container -->

</div>

{% include "footer.html" %}


<!-- js of header menubar -->
<script>
    function myFunction() {
        var x = document.getElementById("menuid");

        if (x.style.display == "block") {
            x.style.display = "none"
        } else {
            x.style.display = "block"
        }
    }
</script>

</body>

</html>