<?php
    $url = 'image/backgroundImg/bg.jpg';
?>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Technology</title>
        <link rel="stylesheet" href="css/mainstyle.css">
        <link rel="stylesheet" href="css/technology.css">
        <link rel="stylesheet" href=" css/response_footer.css">
        <link rel="icon" type="image/x-icon" href="image/otherImg/facicon.png">
        <script src="https://kit.fontawesome.com/af072dc486.js" crossorigin="anonymous"></script>
    </head>

    <style>
        .tech-product {
            background-size: cover;
            background-image: url('<?php echo $url; ?>');
        }
    </style>

    <body>

        <div class="hero">
            <!--start header -->
            <nav>
                <h2 class="logo">Vinjin e-<span>Rickshaw</span></h2>
                <ul id="myDIV">
                    <li class="link active"><a href="index.html">Home</a></li>
                    <li class="dropdown link"><a href="#">Product</a>
                        <div class="dropdown-content">
                            <a href="#">Electric Two Wheeler</a>
                            <a href="three-wheelers.html">Electric Three Wheeler</a>
                        </div>
                    </li>
                    <li class="dropdown link"><a href="">Service</a>
                        <div class="dropdown-content">
                            <a href="#">Overview</a>
                            <a href="technology.html">Technology</a>
                            <a href="dealernetwork.html">Dealer Network</a>
                            <a href="contact.html">Term & Conditions</a>
                        </div>
                    </li>
                    <li class="link"><a href="blog.html">Blog</a></li>
                    <li class="link"><a href="about.html">About</a></li>
                    <li class="link"><a href="contact.html">Contact</a></li>
                </ul>
                <button type="button">Hindi</button>
            </nav>
            <!--end header -->
            <!-- start container -->
            <section>

                <div class="tech-section-one">
                    <div id="quick-message">
                        <a href="contact.php">Quick Enquiry</a>
                    </div>
                    <div class="img-tech">
                        <img src="image/backgroundImg/banner-2.jpg" alt="image">
                    </div>

                    <div class="img-tech-info">
                        <div class="tech-about">
                            <div class="tech-product-img tech-product">
                                <div class="images-tech-product">
                                    <div class="heading-pic">
                                        <img src="image/productImg/battery-1.png" alt=" Battery Images">
                                    </div>
                                </div>
                            </div>
                            <div class="tech-product-info tech-product">
                                <div class="heading">
                                    <h1>Battery</h1>
                                </div>
                                <p>The e-rickshaw battery can run for 70 kms on a full charge. Low-cost battery chargers that are used to charge these e-rickshaws have a power rating of 500 to 700 Watts and are nonpower factor-corrected. E-rickshaw batteries
                                    have a longer life of six to twelve months.</p>
                            </div>
                        </div>
                        <div class="tech-about">
                            <div class="tech-product-info tech-product">
                                <div class="heading">
                                    <h1>Power Train</h1>
                                </div>
                                <p>3 phase AC Induction & IPM motors ( efficient, performance), High thermal endurance and structural safety ( Safety), Compact e-axle design, High Endurance Magnet, Double Bearing Aluminium based axle.</p>
                            </div>
                            <div class="tech-product-img tech-product">
                                <div class="images-tech-product">
                                    <div class="heading-pic">
                                        <img src="image/productImg/motor-1.png" alt=" Battery Images">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tech-about">
                            <div class="tech-product-img tech-product">
                                <div class="images-tech-product">
                                    <div class="heading-pic">
                                        <img src="image/productImg/controller-1.png" alt=" controller Images">
                                    </div>
                                </div>
                            </div>
                            <div class="tech-product-info tech-product">
                                <div class="heading">
                                    <h1>E-Rickshaw Controller</h1>
                                </div>
                                <p>Electric rickshaw controller is one of the main components of the battery powered vehicle that governs it's complete operation. The work of this controller is to take electrical power from the battery and supplies to the
                                    electric drive motor. Based on the use and position of accelerator, controller delivers the power level; zero power when the accelerator is not being used and rickshaw is stopped, full power when the driver accelerates
                                    the speed and any power level in between when driving at different speeds.</p>
                            </div>
                        </div>
                        <div class="tech-about">
                            <div class="tech-product-info tech-product">
                                <div class="heading">
                                    <h1>Throttle</h1>
                                </div>
                                <p>Throttle/accelerator is comprises with anti-shock and energy saving technology. This throttle/accelerator has dual and two way technology forward and reverse switch. Long lasting material used and Faster response quality.
                                    Higher life cycle, Process for installing it is very easy.</p>
                            </div>
                            <div class="tech-product-img tech-product">
                                <div class="images-tech-product">
                                    <div class="heading-pic">
                                        <img src="image/productImg/throttle-1.png" alt=" Battery Images">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


            </section>






            <!-- end container -->

        </div>


        <!-- footer -->
        <div class="footer">
            <div class="col-1 main">
                <h3>Quick Links</h3>
                <a href="about.html">About</a>
                <a href="blog.html">Blogs</a>
                <a href="">Dealer Network</a>
            </div>
            <div class="col-2 main">
                <h3>Services</h3>
                <a href="">Overview</a>
                <a href="">Privacy</a>
                <a href="blog.html">Blogs</a>
                <a href="technology.html">Technology</a>
                <a href="dealernetwork.html">Dealer Network</a>
                <a href="contact.html">Term & Conditions</a>

            </div>
            <div class="col-4 main">
                <h3>Contact Us</h3>
                <div class="contact-us"><span>Email-id: info@vinjin.in</span></div>
                <div class="contact-us"><span>Phone No.: +91 98880-77765</span></div>
                <div class="contact-us"><span>Address.: 120C, Stelco InterNational Focal Point Ludhiana 141010 Punjab.</span></div>

            </div>
            <div class="col-4 main">
                <h3>Follow us</h3>
                <p>abx</p>
                <div class="social-icon">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>

    </body>

    </html>