{% include "header.html" %}
<!--end header -->
<!-- start container -->
<div id="main-container">
    <div class="product-advertisement">
        <div class="adver" id="imgaes-div">
            <img src="static/image/backgroundImg/e-rickshaw.png" alt="img">
        </div>
        <div class="adver" id="text-div">
            <h1>e- <span>Rickshaw</span></h1>
            <h4>A Good Chooise</h4>
        </div>

    </div>
    <div class="main-product-container">
        <div id="quick-message">
            <a href="contact.php">Quick Enquiry</a>
        </div>
        <div class="product-card">
            <div class="product">
                <div class="product-img">
                    <img src="static/image/productImg/rick-8.png" alt="img">
                </div>
                <div class="pruduct-name">
                    <h1><span>Vinjin Delux</span></h1>
                </div>
                <div class="product-btn">
                    <button type="button">More Detail</button>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="product">
                <div class="product-img">
                    <img src="static/image/productImg/rick-9.png" alt="img">
                </div>
                <div class="pruduct-name">
                    <h1><span>Vinjin Super</span></h1>
                </div>
                <div class="product-btn">
                    <button type="button">More Detail</button>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="product">
                <div class="product-img">
                    <img src="static/image/productImg/rick-10.png" alt="img">
                </div>
                <div class="pruduct-name">
                    <h1><span>Vinjin Loader</span></h1>
                </div>
                <div class="product-btn">
                    <button type="button">More Detail</button>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="product">
                <div class="product-img">
                    <img src="static/image/productImg/rick-11.png" alt="img">
                </div>
                <div class="pruduct-name">
                    <h1><span>Vinjin Super</span></h1>
                </div>
                <div class="product-btn">
                    <button type="button">More Detail</button>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="product">
                <div class="product-img">
                    <img src="static/image/productImg/rick-12.png" alt="img">
                </div>
                <div class="pruduct-name">
                    <h1><span>Vinjin Super Loader</span></h1>
                </div>
                <div class="product-btn">
                    <button type="button">More Detail</button>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="product">
                <div class="product-img">
                    <img src="static/image/productImg/rick-9.png" alt="img">
                </div>
                <div class="pruduct-name">
                    <h1><span>Vinjin Super</span></h1>
                </div>
                <div class="product-btn">
                    <button type="button">More Detail</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- end container -->

</div>


<!-- footer -->
{% include "footer.html" %}
<script>
    function myFunction() {
        window.open('contact.php', '#');
    }
</script>



</body>

</html>