        * {
            margin: 0;
            padding: 0;
            font-family: 'poppins', sans-serif;
            box-sizing: border-box;
        }
        
        .hero {
            height: auto;
        }
        
        #main-container {
            position: relative;
            width: 100%;
            height: auto;
        }
        
        .product-advertisement {
            width: 100%;
            height: 25%;
            display: flex;
            padding-left: 10%;
            padding-right: 10%;
        }
        
        .adver {
            width: 50%;
        }
        
        #imgaes-div img {
            width: 450px;
            height: 400px;
            box-shadow: 10px 10px 10px 10px rgb(78 76 76);
        }
        
        #text-div {
            padding-top: 10%;
            font-weight: 400;
        }
        
        #text-div h1 {
            font-size: 50px;
        }
        
        #text-div h1 span {
            color: #ea1538;
        }
        
        #text-div h4 {
            font-size: 30px;
            padding-left: 30px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        #text-div h4:hover {
            color: #8d0d0d8a;
        }
        
        .main-product-container {
            width: 100%;
            height: 80%;
            background: white;
        }
        
        .about-heading {
            width: 100%;
            padding: 20px 50px;
            background: #f8f8f8;
        }
        
        .about-addver {
            margin: 0 20%;
            text-align: center;
        }
        
        .about-1 {
            color: black;
            font-size: 18px;
            font-weight: bold;
            font-style: italic;
            margin-bottom: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        
        .about-1 span {
            color: #ea1538;
        }
        
        .about-2 {
            color: black;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        
        .banner-section {
            margin-top: 3%;
            width: 100%;
            padding: 20px 100px;
        }
        
        .banner {
            margin: 0px 10%;
            box-shadow: 10px 10px 10px 10px rgb(176, 172, 172);
        }
        
        .banner img {
            width: 100%;
            height: 300px;
        }
        
        .text-about {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            margin-top: 5%;
            height: auto;
        }
        
        .text-about-col {
            height: 550px;
            width: 40%;
        }
        
        .section-about {
            margin-top: 5%;
            text-align: left;
            padding: 0 10px;
        }
        
        .text-about-head-vision {
            background-color: #50a65d;
            margin: 5px 80% 5px 5px;
            border-radius: 33px;
            text-align: center;
        }
        
        .mantra-main {
            margin-top: 5%;
        }
        
        .clr {
            margin-top: 5%;
            display: flex;
            justify-content: space-between;
        }
        
        .icon-mantra {
            font-size: 30px;
            color: #50a65d;
            padding: 10px;
            font-weight: bold;
        }
        
        .mantra-description span {
            color: black;
        }
        
        .awards-section {
            margin-top: 5%;
            width: 100%;
            padding: 20px 50px;
            background: #f8f8f8;
            color: black;
        }
        
        .award-heading {
            text-align: center;
            margin: 10px 0;
        }
        
        .award-heading {
            color: #ea1538;
        }
        
        .award-para {
            text-align: left;
            margin: 10px 0;
            padding: 0 50px;
            font-size: 20px;
        }
        
        .awards-name {
            text-align: left;
            margin: 10px 0;
            padding: 0 50px;
            font-size: 20px;
        }
        
        .text-about-heading h1 {
            font-family: Verdana;
            font-size: 46px;
            color: #06393a;
        }
        /* media query */
        
        @media only screen and (min-width:200px) and (max-width:500px) {
            .product-advertisement {
                flex-direction: column-reverse;
                height: auto;
            }
            .adver {
                width: 100%;
            }
            #imgaes-div img {
                width: 100%;
                height: 100%;
            }
            #quick-message {
                right: -47px;
                top: 33%;
                width: 160px;
            }
            #quick-message a {
                font-size: 18px;
            }
            .about-heading {
                padding: 30px 10px;
            }
            .about-addver {
                margin: 10px 0px;
            }
            #main-container {
                padding-top: 0px;
                height: auto;
                padding-bottom: 0px;
            }
            .about-1,
            .about-2 {
                font-size: 16px;
            }
            .banner-section {
                padding: 10px 0px;
                width: 100%;
            }
            .banner {
                padding: 10px;
                width: 100%;
                height: 100%;
                margin: 0px;
            }
            .text-about {
                flex-direction: column;
            }
            .text-about-col {
                width: 100%;
                height: auto;
                padding: 0px 20px;
            }
            .text-about-head-vision {
                margin: 0px;
            }
            .awards-section {
                padding: 0px;
            }
            .text-about-heading h1 {
                font-size: 30px;
                text-align: center;
            }
            .text-about-heading {
                margin: 20px 10px;
            }
        }
        
        @media only screen and (min-width:501px) and (max-width:992px) {
            .banner-section {
                padding: 0px;
            }
            .text-about {
                justify-content: space-between;
                padding: 0px 30px;
            }
            .text-about-col {
                height: auto;
                width: 50%;
            }
            .text-about-heading h1 {
                font-size: 30px;
                text-align: center;
            }
            .text-about-head-vision {
                margin: 0px;
            }
        }
        
        @media only screen and (min-width:993px) and (max-width:1024px) {
            .banner-section {
                padding: 0px;
            }
            .text-about {
                justify-content: space-between;
                padding: 0px 30px;
            }
            .text-about-col {
                height: auto;
                width: 50%;
            }
            .text-about-heading h1 {
                font-size: 40px;
                text-align: center;
            }
            .text-about-head-vision {
                margin: 0px;
            }
            .main-product-container {
                height: auto;
                margin-top: 40px;
            }
            #main-container {
                height: auto;
                padding-bottom: 0px;
            }
        }